@{
    ViewData["Title"] = "HR app";
}

<!DOCTYPE html>

<html>

<head>

<title></title>

</head>

<body>

<div class="text-center">

<h1 class="display-4">HR Application</h1>

<h3>Aller à <a asp-action="Employees">employees</a></h3>
<h3> Voir <a asp-action="AllEmployees">tous les employees</a></h3>

</div>

</body>

</html>